<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="DebugMode" value="1"/>
    <add key="ServerUser" value=""/>
    <add key="ServerPWD" value=""/>
  </appSettings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint address="http://crmxkiovmapp12.credisys.com/BasicServices/ConnectionBroker/ConnectionBroker.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDataManager"
        contract="ConnectionBroker.IDataManager" name="WSHttpBinding_IDataManager">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IDataManager" />
      </wsHttpBinding>
      <webHttpBinding>
        <binding name="NewBinding" />
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="RequestService.RequestTransactions">
        <endpoint address="" behaviorConfiguration="NewBehavior" binding="webHttpBinding"
          bindingConfiguration="NewBinding" contract="RequestService.IRequestTransactions" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="NewBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <connectionStrings>
    <add name="cnxcr" connectionString="Data Source=HELIO;database=creditoreal;user id = appianws; password = appianws; Connect Timeout=3600; application name = wsappianrequest" providerName="System.Data.SqlClient"/>
    <add name="cnxsol" connectionString="Data Source=HELIO;database=solicitudes;user id = appianws; password = appianws; Connect Timeout=3600; application name = wsappianrequest" providerName="System.Data.SqlClient"/>
    <add name="cnxlease" connectionString="Data Source=CRMXKIOVMBD02;database=CRLease;user id = crleasews; password = crleasews; Connect Timeout=3600; application name = wsappianrequest" providerName="System.Data.SqlClient"/>
    <add name="cnxleasetest" connectionString="Data Source=bd09new;database=CRLease;user id = crleasews; password = crleasews; Connect Timeout=60; Application Name = LeasingService" providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>
